# 自动生成的前端本地覆盖，不得提交。
VITE_APP_BASE_API=/dev-api
VITE_APP_PROXY_TARGET=http://{{serverHost}}:{{backend1Port}}
VITE_APP_CONTEXT_PATH=/
VITE_APP_MONITOR_ADMIN=http://{{serverHost}}:{{ingressHttpPort}}{{monitorRoute}}
VITE_APP_SNAILJOB_ADMIN=http://{{serverHost}}:{{ingressHttpPort}}{{snailJobRoute}}
VITE_APP_SNAILAI_ADMIN=http://{{serverHost}}:{{ingressHttpPort}}{{snailAiRoute}}
VITE_APP_NACOS_ADMIN=http://{{serverHost}}:{{ingressHttpPort}}{{nacosRoute}}
