# 自动生成的发布配置，不得提交。
NAMEWTA_BIND_HOST={{bindHost}}
NAMEWTA_DATA_ROOT={{serverRoot}}
NAMEWTA_NETWORK={{dockerNetwork}}
SPRING_PROFILES_ACTIVE={{environment}}
ADMIN_WEB_PREFIX={{adminPrefix}}
LB_HTTP_PORT={{ingressHttpPort}}
LB_HTTPS_PORT={{ingressHttpsPort}}
ADMIN_WEB_PORT={{adminWebPort}}
LB_SERVER_NAME={{serverName}}
MYSQL_DATABASE={{mysqlDatabase}}
MYSQL_ROOT_PASSWORD={{mysqlRootPassword}}
MYSQL_APP_USER={{mysqlUser}}
MYSQL_APP_PASSWORD={{mysqlAppPassword}}
REDIS_PASSWORD={{redisPassword}}
MINIO_ROOT_USER={{minioRootUser}}
MINIO_ROOT_PASSWORD={{minioRootPassword}}
MINIO_ENDPOINT={{minioEndpoint}}
MINIO_BUCKET={{minioBucket}}
MINIO_DIAGNOSTIC_OBJECT={{minioDiagnosticObject}}
NACOS_DB_USER={{nacosDatabaseUser}}
NACOS_DB_PASSWORD={{nacosDatabasePassword}}
NACOS_CONFIG_USERNAME={{nacosUsername}}
NACOS_CONFIG_PASSWORD={{nacosPassword}}
NACOS_AUTH_TOKEN={{nacosAuthToken}}
NACOS_AUTH_IDENTITY_KEY={{nacosIdentityKey}}
NACOS_AUTH_IDENTITY_VALUE={{nacosIdentityValue}}
NACOS_CONFIG_NAMESPACE_PROD={{nacosNamespace}}
MONITOR_USERNAME={{monitorUsername}}
MONITOR_PASSWORD={{monitorPassword}}
GRAFANA_ADMIN_USER={{grafanaUsername}}
GRAFANA_ADMIN_PASSWORD={{grafanaPassword}}
