[submodule "ruoyi-vue-plus-namewta"]
	path = ruoyi-vue-plus-namewta
	url = https://github.com/NAMEWTA/ruoyi-vue-plus-namewta.git
[submodule "plus-ui-namewta"]
	path = plus-ui-namewta
	url = https://github.com/NAMEWTA/plus-ui-namewta.git
